.background-animate {
    background-size: 400%;
  
    -webkit-animation: animated-bg 10s ease infinite;
    -moz-animation: animated-bg 10s ease infinite;
    animation: animated-bg 10s ease infinite;
  }
  
  @keyframes animated-bg {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    25% {
      background-position: 50% 0%;
    }
    75% {
      background-position: 50% 100%;
    }
  }