@keyframes typewriter {
  0%, 100% { width: 0; }
  50%, 80% { width: 100%; }
}

@keyframes blinkTextCursor {
  from { border-right-color: rgb(153, 153, 153); }
  to { border-right-color: transparent; }
}

@media (min-width: 1000px) {
  .typewriter {
    overflow: hidden;
    border-right: .15em solid black; 
    white-space: nowrap; 
    animation: 
      typewriter 7s steps(40) 1s infinite normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
  }
}


